/*remove excess space*/
html, body {
    margin: 0;
    padding: 0;
}
/*set some default colors*/
:root {
    --toolbarBackground: var(--pageBackground);
    --toolbarButtons: var(--toolbarBackground);
    --toolbarButtonHover: var(--titleFontColor);
    --toolbarButtonFontColor: rgb(255, 255, 255);
    --pageBackground:  rgb(0, 30, 62);
    --titleFontColor: rgb(0, 123, 255);
    --generalPageFontColor: rgb(255, 255, 255);
    --generalPageFontHoverColor: rgb(125, 188, 255);
    --bioBackground: var(--pageBackground);
    --bioFontColor: rgb(255, 255, 255);
    --footerBackground:  rgb(0, 123, 255);
}
/*define body attributes*/
body {
    background-color: var(--pageBackground);
    color:var(--generalPageFontColor);
}
/*define header attributes*/
h1{
    color:var(--titleFontColor);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4.5vw;
    font-weight:lighter;
    margin-bottom:.8vw;
    text-align:center;
}
h1[alt="title"]{
    color:var(--titleFontColor);
    font-size:9vw;
    font-family: serif;
    font-weight:bold;
    margin:0;    
}
a[alt="title"]{
    display:grid;
    width:67vw;
    margin: auto;
    margin-bottom:1vw;
    margin-top:10vw;
}
h1[alt="title"]:hover{
    color: var(--generalPageFontHoverColor);
    cursor: pointer;
}
/*define paragraph attributes*/
p {
    color:var(--generalPageFontColor);
    font-family:Arial, Helvetica, sans-serif;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
/* In this style sheet, 3 areas will be utilized:
    Toolbar
    Body (holding sub containers)
    Footbar
*/
/* create the container to hold the toolbar items*/
.toolbarContainer{
    /*display type*/
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    align-self: center;
    background-color: var(--toolbarBackground);
    width:68vw;
    height:4vw;
    border-style:solid;
    border-width:1%;
    border-radius:30px;
    border-color: var(--generalPageFontColor);
    margin-bottom:7vw;
}
/*toolbar button attributes*/
button[alt="toolbar"]{
    background-color: var(--toolbarButtons);
    color: var(--toolbarButtonFontColor);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.9vw;
    align-self:center;
    border:none;
    margin:0;
    padding: 1vw;
    height:4vw;
}
/*toolbar button hover animation*/
@keyframes toolbarButtonHover {
    from {background-color: var(--toolbarButtons);}
    to {background-color: var(--toolbarButtonHover);}
}
/*toolbar button hover attributes*/
button[alt="toolbar"]:hover{
    cursor: pointer;
    animation-name:toolbarButtonHover;
    animation-duration: 1s;
    background-color: var(--toolbarButtonHover);

}
/*biography container attributes*/
.bio{
    display:grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 2vw;
    width:68vw;
    margin:0 auto;
    background-color: var(--bioBackground);
    padding:0;
    border-radius:30px;
}
/*bio font attributes*/
p[alt="bio"]{
    color: var(--bioFontColor);
    align-self:center;
    font-size:2vw;
}
/*bio image attributes*/
img[alt="portrait"]{
    width:25vw;
    scale:90%;
    border-style: solid;
    border-width: 3px;
    border-color:grey;
    border-radius:100%;
    margin:0;
    padding:0;
    justify-self: center;
}
hr{
    color: white;
    margin-top:23vw;
    margin-bottom:3vw;
}
.socials{
    margin: 0 auto;
    margin-bottom:.3vw;
}
svg[alt="social"]{
    color:white;
    width:3vw;
    height:3vw;
    margin: 2vw;
    margin-top:0;
    margin-bottom:0;
}
svg[alt="social"]:hover{
    cursor: pointer;
    color:var(--titleFontColor);
}
/*footer attributes*/
.footerContainer{
    display:grid;
    background-color: var(--pageBackground);
}