/* default color scheme */
:root {

    --darkOfLogo: rgb(0, 82, 145);
    --LightOfLogo: rgb(217, 217, 217);
    --pageBackground: rgb(0, 48, 95);
    --toolbarBackground: rgb(139, 4, 4);
    --generalTextColor: white;
}